.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}
.markdown ul {
  @apply list-disc;
  @apply pl-6;
}

.markdown ol {
  @apply list-decimal;
  @apply pl-6;
}

.markdown a {
  @apply text-blue-500;
}
.markdown pre {
  @apply break-all;
  @apply p-6;
  @apply rounded-lg;
  @apply bg-gray-100;
  @apply text-gray-900;
  @apply whitespace-pre-wrap;
}
.markdown code {
  @apply font-mono;
  @apply bg-gray-200;
}
.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown blockquote{
  background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 1em 10px 0.1em 10px;
}
